@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700;800;900&display=swap");

@layer base {
  * {
    scrollbar-width: thin;
    scrollbar-color: #374151 #212121;
  }

  body {
    @apply bg-primary;
  }

  html {
    font-family: "Poppins", sans-serif;
  }

  ::-webkit-scrollbar {
    @apply h-2 w-2;
  }

  ::-webkit-scrollbar-thumb {
    background-color: #374151;
  }

  ::-webkit-scrollbar-track {
    background-color: #212121;
  }
}

@layer components {
  .textarea {
    @apply w-full resize-none bg-base-300;
  }

  .label {
    @apply cursor-pointer;
  }

  .input {
    @apply w-full bg-base-300 placeholder-base-content;
  }

  .input-file {
    @apply px-0 file:mr-4 file:h-full file:cursor-pointer file:border-none file:bg-primary file:px-4;
  }
}
